.form__button {
    background: #11749e;
    width: 227px;
    height: 64px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham", sans-serif;
    border: 0;
    text-transform: uppercase;
}

.form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen  and (max-width: 925px) {
    .form__button {
        width: 175px;
        height: 50px;
        font-size: 20px;
    }
}