.quick-action__text {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Gotham", sans-serif;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .quick-action__text {
        font-size: 12px;
    }
}