.title_letter_T {
    background-image: url("../../../images/T.png");
    margin-bottom: 73px;
    color: #222222;
}

@media screen and (max-width: 540px) {
    .title_letter_T {
        margin-bottom: 53px;
    }
}