.key-feature__container {
    min-height: 848px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /*grid-template-columns: repeat(2, 50%);*/
}


@media screen and (max-width: 768px) {
    .key-feature__container {
        min-height: 650px;
    }
}