.form__data-input {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

@media screen  and (max-width: 1410px) {
    .form__data-input {
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
    }
}

@media screen  and (max-width: 925px) {
    .form__data-input {
        margin-right: 0;
    }
}