.key-feature__feature_line_1 {
    width: 370px;
}


@media screen and (min-width: 1024px) {
    .key-feature__feature_line_1 {
        width: 370px;
    }
}

@media screen and (max-width: 768px) {
    .key-feature__feature_line_1 {
        width: 300px;
    }
}

@media screen and (max-width: 540px) {
    .key-feature__feature_line_1 {
        width: 230px;
    }
}
