.contacts__container {
    min-height: 851px;
    padding-top: 145px;
    padding-bottom: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-image: url("../../../images/back-contacts.jpg");
    background-size: cover;
}