.quick-action__container {
    min-height: 355px;
    padding-top: 114px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
    justify-items: center;
    gap: 45px;
}

@media screen and (max-width: 1490px) {
    .quick-action__container {
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    .quick-action__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}