.form__data-input {
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-items: center;
    gap: 28px;*/
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}