.title__text{
    margin: 0;
    font-size: 38px;
    line-height: 45px;
    font-weight: 500;
    font-family: "Gotham", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .title__text {
        font-size: 28px;
    }
}

@media screen and (max-width: 540px) {
    .title__text {
        font-size: 25px;
    }
}
