.about-agency__table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    justify-items: center;
    gap: 48px;

}

@media screen and (max-width: 1470px) {
    .about-agency__table {
        grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    }
}


@media screen and (min-width: 1024px) {
    .about-agency__table {
        grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    }
}

/*@media screen and (min-width: 768px) {
    .about-agency__table {
        grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    }
}