.about-agency__table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    justify-items: center;
    gap: 48px;

}

@media screen and (min-width: 1100px) and (max-width: 1490px) {
    .about-agency__table {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1490px) {
    .about-agency__table {
        padding-bottom: 48px;
    }
}


