.form__container {
    margin: 0 0 46px 0;
}

@media screen  and (max-width: 1410px) {
    .form__container {
        display: flex;
        justify-content: center;
    }
}

@media screen  and (max-width: 925px) {
    .form__container {
        flex-direction: column;
        align-items: center;
    }
}