.news__content_theme_light {
    background: #f3f3f3;
    color: #222222;
    padding-right: 20%;
    padding-left: 10%;
    padding-top: 75px;
}


@media screen and (max-width: 768px) {
    .news__content_theme_light {
        padding-left: 20%;
        padding-right: 10%;
    }
}