.header__title  {
    text-align: center;
    font-size: 153px;
    color: #f5f5f5;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
    letter-spacing: -8px;
    text-transform: uppercase;
    margin-bottom: 39px;
}


@media screen and (max-width: 1280px) {
    .header__title {
        font-size: 153px;
    }
}

@media screen and (max-width: 1024px) {
    .header__title {
        font-size: 120px;
    }
}

@media screen and (max-width: 768px) {
    .header__title {
        font-size: 85px;
        margin-bottom: 29px;
    }
}

@media screen and (max-width: 540px) {
    .header__title {
        font-size: 55px;
        margin-bottom: 20px;
    }
}