.news {
    display: grid;

    min-height: 921px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


@media screen and (max-width: 768px) {
    .news {
        grid-template-columns: 100%;
    }
}